<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nullcognition.practice02" >

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.Activity00"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Activity"
            android:label="@string/title_activity_" >
        </activity>
        <activity
            android:name=".activity.activity01.Activity01"
            android:label="@string/title_activity_01" >
        </activity>
        <activity
            android:name=".activity.activity02.Activity02"
            android:label="@string/title_activity_02" >
        </activity>
    </application>

</manifest>
