<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nullcognition.dagger2examples"
	>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

	<!-- Note: without naming your application the correct application, it will not work android:name=".ApplicationDemo" -->
	<!-- In the case that you are injecting an application, below was taken out for glombard's example as it does not inject an application, but starts with an activity injection -->
	<!-- android:name=".consolidated.ConcreteApplication" -->
	<application
		android:name=".googleactivitygraphs.DemoApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		>

		<activity
			android:name=".googleactivitygraphs.ui.HomeActivity"
			android:label="googleactivitygraph"
			>

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
<!--Don't forget additional activities that your application might have else you cannot navigate to them-->
		<activity
			android:name=".sven.AnotherActivity"
			android:label="sven"
			>

		</activity>

	</application>

</manifest>
